* {
	font-family: "YumeNikkiTitleSc";
	font-size: 16.5px;
/*	color: rgba(100, 100, 100, 1);	*/
}


window#waybar {
	background-color: rgba(8, 6, 5, 1);
}

#image{
/*	background-color:rgba(43, 41, 40, 1); */
}

#window{
	border-bottom: 1px solid #ffffff;
	text-shadow: 2px 3px 0px #5a3c5a;
}

/*#battery{
	background-color: rgba(40, 40, 39, 1);
	padding-left: 8;
	padding-right: 8
}*/

#user{
/*	text-transform: lowercase;	*/
	font-weight: bold;	
	color: rgba(250, 211, 227, 1);
}

#workspaces button.active{
	background-color: rgba(40, 40, 39, 0.8);
/*	border-bottom: 2px solid #ffffff;*/
	font-weight: bold;
/*	color: #deb2e7; */
}

#workspaces button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0 7px;
/*  color: #6b4173; */
}


